.chip-label {
	font-family: "Inter", serif;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
	padding: 8px 6px;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.display-flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

p {
	margin-block-start: 0;
	margin-block-end: 0;
}

label {
	width: max-content;
}

.bold {
	font-weight: bold;
}

.sh-red {
	background: #ffd1d5;
	color: #c71b2c;

	img {
		filter: brightness(0) saturate(100%) invert(17%) sepia(60%) saturate(3625%)
			hue-rotate(339deg) brightness(101%) contrast(102%);
	}
}

.sh-yellow {
	background: #ffeaa9;
	color: #a74d02;

	img {
		filter: brightness(0) saturate(100%) invert(26%) sepia(54%) saturate(2819%)
			hue-rotate(21deg) brightness(96%) contrast(98%);
	}
}

.sh-green {
	background: #ceff9a;
	color: #458600;

	img {
		filter: brightness(0) saturate(100%) invert(45%) sepia(57%) saturate(5248%)
			hue-rotate(63deg) brightness(92%) contrast(102%);
	}
}

.sh-dark-green {
	background: #c7f8e1;
	color: #458600;

	img {
		filter: brightness(0) saturate(100%) invert(37%) sepia(75%) saturate(1170%)
			hue-rotate(57deg) brightness(93%) contrast(101%);
	}
}

.sh-blue {
	background: #d0e3ff;
	color: #065ddc;

	img {
		filter: brightness(0) saturate(100%) invert(24%) sepia(100%) saturate(5075%)
			hue-rotate(211deg) brightness(94%) contrast(95%);
	}
}

.sh-purple {
	background: #f7dfff;
	color: #b01da2;

	img {
		filter: brightness(0) saturate(100%) invert(18%) sepia(99%) saturate(2535%)
			hue-rotate(290deg) brightness(94%) contrast(98%);
	}
}

.sh-gray {
	background: #e0e0e0;
	color: #5a5356;

	img {
		filter: brightness(0) saturate(100%) invert(29%) sepia(1%) saturate(5377%)
			hue-rotate(282deg) brightness(91%) contrast(70%);
	}
}

.sh-dark-gray {
	background: #d2d2d2;
	color: #5a5356;

	img {
		filter: brightness(0) saturate(100%) invert(29%) sepia(1%) saturate(5377%)
			hue-rotate(282deg) brightness(91%) contrast(70%);
	}
}

.sh-empty {
	border: 1px solid #ccccd1;
	color: #646470;

	img {
		filter: brightness(0) saturate(100%) invert(41%) sepia(2%) saturate(2056%)
			hue-rotate(202deg) brightness(89%) contrast(81%);
	}
}

.x-btn {
	width: 12px;
	height: 12px;
	padding-left: 8px;
}
