* {
  --blackwhite: rgba(255, 255, 255, 1);
  --blackblack-20: rgba(228, 228, 231, 1);
  --body-subtitle-inter-semibold-16px-font-family: "Inter-SemiBold", Helvetica;
  --body-subtitle-inter-semibold-16px-font-weight: 600;
  --primary-violetviolet-01: rgba(50, 50, 115, 1);
  --body-subtitle-inter-semibold-16px-font-size: 16px;
  --body-subtitle-inter-semibold-16px-letter-spacing: 0px;
  --body-subtitle-inter-semibold-16px-line-height: 22px;
  --body-subtitle-inter-semibold-16px-font-style: normal;
  --blackblack-60: rgba(147, 147, 159, 1);
  --body-body-XS-inter-semibold-12-px-font-family: "Inter-SemiBold", Helvetica;
  --body-body-XS-inter-semibold-12-px-font-weight: 600;
  --body-body-XS-inter-semibold-12-px-font-style: normal;
  --body-body-XS-inter-semibold-12-px-letter-spacing: 0px;
  --body-body-XS-inter-semibold-12-px-line-height: 16px;
  --body-body-XS-inter-semibold-12-px-font-size: 12px;
  --primary-violetviolet-03: rgba(142, 142, 207, 1);
}
