@import url("sh-card-v2.component.styleguide.scss");

.card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
	padding: 16px;
	position: relative;
	flex: 1;
	flex-grow: 1;
	background-color: var(--blackwhite);
	border-radius: 4px;
	border: 1px solid;
	border-color: var(--blackblack-20);

	&__main {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 8px;
		position: relative;
		align-self: stretch;
		width: 100%;
		flex: 0 0 auto;
		min-width: 180px;

		&__title {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 4px;
			position: relative;
			align-self: stretch;
			width: 100%;
			flex: 0 0 auto;

			&__group {
				display: flex;
				align-items: flex-start;
				gap: 4px;
				align-self: stretch;
				width: 100%;
				position: relative;
				flex: 0 0 auto;

				&__text {
					flex: 1;
					position: relative;
					height: 22px;
					margin-top: -1px;
					font-family: var(--body-subtitle-inter-semibold-16px-font-family);
					font-weight: var(--body-subtitle-inter-semibold-16px-font-weight);
					color: var(--primary-violetviolet-01);
					font-size: var(--body-subtitle-inter-semibold-16px-font-size);
					letter-spacing: var(
						--body-subtitle-inter-semibold-16px-letter-spacing
					);
					line-height: var(--body-subtitle-inter-semibold-16px-line-height);
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 1;
					-webkit-box-orient: vertical;
					font-style: var(--body-subtitle-inter-semibold-16px-font-style);
				}
			}
		}

		&__img {
			position: relative;
			width: 20px;
			height: 20px;
		}

		&__content {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 8px;
			align-self: stretch;
			width: 100%;
			position: relative;
			flex: 0 0 auto;

			&__group-1 {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				align-self: stretch;
				width: 100%;
				position: relative;
				flex: 0 0 auto;

				&__device-special-section {
					display: flex;
					align-items: center;
					gap: 4px;
					align-self: stretch;
					width: 100%;
					position: relative;
					flex: 0 0 auto;

					&__p {
						margin-block: 5px;
						font-family: "Inter-Regular", Helvetica;
						font-weight: 400;
						color: var(--blackblack-60);
						font-size: 12px;
						line-height: 16px;
						position: relative;
						width: fit-content;
						letter-spacing: 0;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						display: -webkit-box;
						-webkit-line-clamp: 1;
						-webkit-box-orient: vertical;

						&__span {
							font-family: "Inter-Regular", Helvetica;
							font-weight: 400;
							color: #93939f;
							font-size: 12px;
							letter-spacing: 0;
							line-height: 16px;
						}

						&__counter-special {
							font-family: var(--body-body-XS-inter-semibold-12-px-font-family);
							font-weight: var(--body-body-XS-inter-semibold-12-px-font-weight);
							font-style: var(--body-body-XS-inter-semibold-12-px-font-style);
							letter-spacing: var(
								--body-body-XS-inter-semibold-12-px-letter-spacing
							);
							line-height: var(--body-body-XS-inter-semibold-12-px-line-height);
							font-size: var(--body-body-XS-inter-semibold-12-px-font-size);
						}
					}
				}
			}

			&__device-common-section {
				display: inline-flex;
				align-items: center;
				gap: 4px;
				position: relative;
				flex: 0 0 auto;
			}

			&__counter {
				font-family: "Inter-Bold", Helvetica;
				font-weight: 700;
				color: var(--primary-violetviolet-03);
				font-size: 16px;
				line-height: 22px;
				position: relative;
				width: fit-content;
				letter-spacing: 0;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 1;
				-webkit-box-orient: vertical;

				&--margin-fix{
					margin-left: -1px;
				}
			}

			&__group-2 {
				display: flex;
				align-items: flex-start;
				justify-content: space-between;
				align-self: stretch;
				width: 100%;
				position: relative;
				flex: 0 0 auto;
				margin-top: -5px;
			}

			&__icon-outline-device {
				position: relative;
				width: 24px;
				height: 24px;
				margin-left: -3px;
			}
		}
	}
}
