.container {
    margin-top: 80px;
    padding: 20px;
    height: 100%;
    &__button{
        display: flex;
        float: inline-end;
        width: 100%;
        max-width: 180px;
		margin-block: 10px;
    }
}
.modal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&__header {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&--title {
			color: var(--cool-grey-cool-grey-01, #3c3c43);
			font-family: Inter, serif;
			font-size: 20px;
			font-style: normal;
			font-weight: 600;
			line-height: 26px; /* 130% */
			margin-block: 0;
			padding: 16px;
		}

		&--x-icon {
			padding: 16px;
		}
	}

	&__form {
		gap: 15px;
		width: 90%;
		display: grid;
		padding-top: 20px;
		padding-bottom: 50px;
		grid-template-columns: repeat(2, 1fr);

		&--input {
			height: 40px;
			background: #ffffff;
			border: 1px solid #ccccd1;
			border-radius: 4px;
			display: flex;
			align-items: center;
			margin-top: 5px;
			cursor: text;
			margin-bottom: 20px;

			input {
				border: none;
				width: calc(100% - 10px);
				border-radius: 4px;
				padding-left: 10px;
				font-family: Inter, serif;
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 22px;
				height: 95%;

				&:focus-visible {
					outline: none;
				}
			}
            select {
                width: 100%;
                height: 100%;
                outline: none;
                border: none;
            }

			&__eye {
				margin-right: 16px;
			}
		}

		&--validations {
			padding: 8px;
			border-radius: 6px;
			border: #c6c6c6 1px solid;
			max-height: 214px;

			&__requirements-txt {
				font-family: "Inter", serif;
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 22px;
				color: #646470;
				grid-column: span 2;
			}

			&__requirement {
				display: grid;
				grid-template-columns: 16px calc(100% - 16px);
				align-items: center;
				margin-top: 4px;

				&--circle {
					transition: all 250ms;
					border: 1px solid #92929b;
					border-radius: 50%;
					width: 16px !important;
					height: 16px !important;
					display: flex;
					align-items: center;
					justify-content: center;
					margin-left: 4px;

					&__checked-icn {
						filter: brightness(0) saturate(100%) invert(100%) sepia(0%)
							saturate(7500%) hue-rotate(223deg) brightness(110%) contrast(105%);
						width: 10px;
					}

					&__not-contains-icn {
						filter: brightness(0) saturate(100%) invert(100%) sepia(0%)
							saturate(7500%) hue-rotate(223deg) brightness(110%) contrast(105%);
						width: 10px;
					}

					&__not-contains {
						transition: all 250ms;
						border: 1px solid #f45050 !important;
						background-color: #f45050;
					}

					&__checked {
						transition: all 250ms;
						border: 1px solid #82c43c !important;
						background-color: #82c43c;
					}
				}

				&--req-txt {
					font-family: "Inter", serif;
					font-style: normal;
					font-weight: 400;
					font-size: 16px;
					line-height: 22px;
					color: #646470;
					margin-left: 12px;
				}

				&--not-contains_txt {
					color: #f45050;
				}
			}
		}
	}
}

p {
	margin-block: 0;
}
