.header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 75%;
}

.title {
	margin-left: 8px;
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
}

.star-btn {
	display: flex;
	align-items: center;
	cursor: pointer;
	margin-left: 1rem;
	width: auto;
	height: 39px;
	margin-bottom: 10px;
}

.btn-container {
	display: flex;
}

.customize-btn:hover {
	display: flex;
	transition: all 300ms;
	background-color: #8e8ecf;
	border-color: #8e8ecf;

	p {
		color: #fff;
	}

	img {
		filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%)
			hue-rotate(168deg) brightness(101%) contrast(101%);
	}
}

.choose-lay-btn {
	display: flex;
	border: 1px solid;
	border-color: #515192;
	height: 40px;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	padding: 0px 12px;
}

.choose-lay-btn:hover {
	transition: all 300ms;
	background-color: #8e8ecf;
	border-color: #8e8ecf;

	p {
		color: #fff;
	}

	img {
		filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%)
			hue-rotate(168deg) brightness(101%) contrast(101%);
	}
}

.choose-lay-txt {
	font-family: "Inter";
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	color: #515192;
	padding-left: 8px;
}

.scan-btn {
	display: flex;
	border: 1px solid;
	border-color: #515192;
	background-color: #515192;
	// width: 187px;
	height: 40px;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	margin-right: 10px;
	text-decoration: none;
}

.create-btn {
	display: flex;
	border: 1px solid;
	border-color: #ed8d94;
	background-color: #ed8d94;
	width: 56px;
	height: 56px;
	align-items: center;
	justify-content: center;
	border-radius: 30px;
	margin-right: 10px;
	text-decoration: none;
}

.scan-txt {
	display: flex;
	font-family: "Inter";
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	color: #fff;
	padding-left: 8px;
}

.new-btn-container {
	display: flex;
	padding-left: 16px;
	padding-right: 16px;
}

.new-btn-container2 {
	display: flex;
	padding-left: 4px;
	padding-right: 4px;
}

.scan-icn {
	filter: brightness(0) saturate(100%) invert(85%) sepia(100%) saturate(0%)
		hue-rotate(77deg) brightness(104%) contrast(102%);
}

.customize-btn {
	min-width: 26px;
}

.cancel-btn {
	display: flex;
	border: 1px solid;
	border-color: #515192;
	width: 200px;
	height: 40px;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	margin-right: 10px;
}

.cancel-txt {
	font-family: "Inter";
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	color: #515192;
	padding-left: 8px;
}

.next-txt {
	font-family: "Inter";
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	color: #fff;
	padding-left: 8px;
}

.refresh-button,
.import-button {
	height: 40px;
	width: 40px;
	border: 1px solid #515192;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;

	.import-content {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0px 10px;
	}
}

.refresh-button:hover {
	transition: all 300ms;
	background-color: #8e8ecf;
	border-color: #8e8ecf;

	p {
		color: #fff;
	}

	img {
		transition: rotate 500ms;
		filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%)
			hue-rotate(168deg) brightness(101%) contrast(101%);
		rotate: 180deg;
	}
}

.import-button:hover {
	transition: all 300ms;
	background-color: #8e8ecf;
	border-color: #8e8ecf;

	p {
		color: #fff;
	}

	img {
		// transition: rotate 500ms;
		filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%)
			hue-rotate(168deg) brightness(101%) contrast(101%);
		// rotate: 180deg;
	}
}

.next-btn-inactive {
	transition: all 500ms;
	background: #d8d8dc;
	border-color: #d8d8dc;
}

.customize-btn {
	display: flex;
	border: 1px solid;
	border-color: #515192;
	height: 40px;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	margin-right: 10px;
	padding: 0px 8px;
}

.customize-txt {
	font-family: "Inter";
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	color: #515192;
	padding-left: 8px;
	padding-right: 2px;
}

.check-btn {
	display: flex;
	border: 1px solid;
	border-color: #515192;
	background-color: #515192;
	width: 151px;
	height: 40px;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	margin-right: 10px;
}

.check-btn:hover {
	transition: all 300ms;
	background-color: #8e8ecf;
	border-color: #8e8ecf;
}

.disabled {
	background-color: #d8d8dc;
	border-color: #d8d8dc;
}

.icon-disabled {
	filter: brightness(0) saturate(100%) invert(100%) sepia(36%) saturate(2%)
		hue-rotate(193deg) brightness(107%) contrast(101%);
}

.import-button.disabled:hover {
	background-color: #d8d8dc;
	border-color: #d8d8dc;

	p {
		color: #fff;
	}

	img {
		// transition: rotate 500ms;
		filter: brightness(0) saturate(100%) invert(100%) sepia(36%) saturate(2%)
			hue-rotate(193deg) brightness(107%) contrast(101%);
		// rotate: 180deg;
	}
}

.file {
	opacity: 0;
	width: 100%;
	height: 15rem;
	cursor: pointer;
	position: absolute;
}

// PCs SCREEN
@media only screen and (min-width: 1200px) {
	.next-btn {
		display: flex;
		border: 1px solid;
		border-color: #515192;
		background-color: #515192;
		width: 200px;
		height: 40px;
		align-items: center;
		justify-content: center;
		border-radius: 4px;
		margin-right: 10px;
		text-decoration: none;
	}

	.cancel-btn {
		display: flex;
		border: 1px solid;
		border-color: #515192;
		width: 200px;
		height: 40px;
		align-items: center;
		justify-content: center;
		border-radius: 4px;
		margin-right: 10px;
	}
}

.mobile-container {
	display: none;
}

//SMALL - MID SCREEN
@media only screen and (max-width: 1200px) {
	.next-btn {
		display: none;
	}

	.cancel-btn {
		display: none;
	}

	.import-txt {
		display: none;
	}
	.scan-txt-ex {
		display: none;
	}
	.choose-lay-txt {
		display: none;
	}
	.customize-btn {
		display: none;

		p {
			display: none;
		}

		display: none;
	}
	.scan-txt {
		display: none;
	}
	.scan-btn {
		width: 40px;
	}

	.mobile-container {
		display: grid;
		position: fixed;
		bottom: 0;
		left: 0;
		padding: 15px 10px;
		grid-template-columns: repeat(2, 1fr);
		width: calc(100% - 20px);
		column-gap: 25px;
		background: #f3f3f3;
		z-index: 100;

		.next-btn-mobile {
			display: flex;
			border: 1px solid;
			border-color: #515192;
			background-color: #515192;
			width: 100%;
			height: 40px;
			align-items: center;
			justify-content: center;
			border-radius: 4px;
			text-decoration: none;
		}

		.cancel-btn-mobile {
			display: flex;
			border: 1px solid;
			border-color: #515192;
			width: 100%;
			height: 40px;
			align-items: center;
			justify-content: center;
			border-radius: 4px;
		}
	}
}

.align-center {
	display: flex;
	align-items: center;
}
