<sh-simple-modal [Show]="this.Show">
	<div class="modal">
		<!--    Header-->
		<div class="modal__header">
			<h6 class="modal__header--title">Change Password</h6>

			<a (click)="closeModal()" *ngIf="Close_Button || !First_Time">
				<img
					ngSrc="assets/img/success-msg/x.svg"
					width="24"
					height="24"
					alt="x"
					class="modal__header--x-icon pointer"
				/>
			</a>
		</div>
		<!--    Content-->
		<form class="modal__form" #form="ngForm" (ngSubmit)="changePassword(form)">
			<div>
				<ng-container *ngIf="Change_Own">
					<label class="modal__form--label"> Current Password </label>
					<div class="modal__form--input">
						<input
							[type]="!show_password() ? 'password' : 'text'"
							name="current_password"
							ngModel
							[autocomplete]="false"
						/>
					</div>
				</ng-container>

				<label class="modal__form--label"> Password </label>
				<div class="modal__form--input">
					<input
						[type]="!show_password() ? 'password' : 'text'"
						name="password"
						ngModel
						(ngModelChange)="checkPasswordRequirements($event)"
						[autocomplete]="false"
					/>

					<img
						ngSrc="assets/img/agent-management/eye.svg"
						alt="eye"
						width="24"
						height="24"
						class="modal__form--input__eye pointer"
						(click)="showPassword('password')"
					/>
				</div>

				<label class="modal__form--label"> Confirm Password </label>
				<div class="modal__form--input">
					<input
						[type]="!show_confirm_password() ? 'password' : 'text'"
						name="confirm_password"
						ngModel
						(ngModelChange)="checkConfirmPassword($event)"
						[autocomplete]="false"
					/>

					<img
						ngSrc="assets/img/agent-management/eye.svg"
						alt="eye"
						width="24"
						height="24"
						class="modal__form--input__eye pointer"
						(click)="showPassword('confirm')"
					/>
				</div>
				<sh-button
					type="submit"
					[disabled]="!all_requirements()"
					size="full"
					[loading]="Loading"
				>
					Change Password
				</sh-button>
			</div>

			<!--      Validations-->
			<div class="modal__form--validations">
				<p class="modal__form--validations__requirements-txt">
					Passwords must contain:
				</p>

				<!-- More than 6 characters -->
				<div class="modal__form--validations__requirement">
					<div
						class="modal__form--validations__requirement--circle"
						[ngClass]="{
							'modal__form--validations__requirement--circle__not-contains':
								password_check_active() && !more_than_6(),
							'modal__form--validations__requirement--circle__checked':
								password_check_active() && more_than_6()
						}"
					>
						<img
							alt="check"
							ngSrc="assets/img/checked.svg"
							class="modal__form--validations__requirement--circle__checked-icn"
							width="10"
							height="12"
							*ngIf="password_check_active() && more_than_6()"
						/>
						<img
							alt="check"
							ngSrc="assets/img/not_contains.svg"
							class="modal__form--validations__requirement--circle__not-contains-icn"
							width="10"
							height="16"
							*ngIf="password_check_active() && !more_than_6()"
						/>
					</div>
					<p
						class="modal__form--validations__requirement--req-txt"
						[ngClass]="{
							not_contains_txt: password_check_active() && !more_than_6()
						}"
					>
						At least 6 characters.
					</p>
				</div>

				<!-- Contains Letter -->
				<div class="modal__form--validations__requirement">
					<div
						class="modal__form--validations__requirement--circle"
						[ngClass]="{
							'modal__form--validations__requirement--circle__not-contains':
								password_check_active() && !has_letter(),
							'modal__form--validations__requirement--circle__checked':
								password_check_active() && has_letter()
						}"
					>
						<img
							alt="check"
							ngSrc="assets/img/checked.svg"
							class="modal__form--validations__requirement--circle__checked-icn"
							width="10"
							height="12"
							*ngIf="password_check_active() && has_letter()"
						/>
						<img
							alt="check"
							ngSrc="assets/img/not_contains.svg"
							class="modal__form--validations__requirement--circle__not-contains-icn"
							width="10"
							height="16"
							*ngIf="password_check_active() && !has_letter()"
						/>
					</div>
					<p
						class="modal__form--validations__requirement--req-txt"
						[ngClass]="{
							not_contains_txt: password_check_active() && !has_letter()
						}"
					>
						At least 1 letter.
					</p>
				</div>

				<!-- Contains numbers -->
				<div class="modal__form--validations__requirement">
					<div
						class="modal__form--validations__requirement--circle"
						[ngClass]="{
							'modal__form--validations__requirement--circle__not-contains':
								password_check_active() && !has_number(),
							'modal__form--validations__requirement--circle__checked':
								password_check_active() && has_number()
						}"
					>
						<img
							alt="check"
							ngSrc="assets/img/checked.svg"
							class="modal__form--validations__requirement--circle__checked-icn"
							width="10"
							height="12"
							*ngIf="password_check_active() && has_number()"
						/>
						<img
							alt="check"
							ngSrc="assets/img/not_contains.svg"
							class="modal__form--validations__requirement--circle__not-contains-icn"
							width="10"
							height="16"
							*ngIf="password_check_active() && !has_number()"
						/>
					</div>
					<p
						class="modal__form--validations__requirement--req-txt"
						[ngClass]="{
							not_contains_txt: password_check_active() && !has_number()
						}"
					>
						At least 1 number.
					</p>
				</div>

				<!-- Contains Symbols or Special Characters -->
				<div class="modal__form--validations__requirement">
					<div
						class="modal__form--validations__requirement--circle"
						[ngClass]="{
							'modal__form--validations__requirement--circle__not-contains':
								password_check_active() && !has_special_char(),
							'modal__form--validations__requirement--circle__checked':
								password_check_active() && has_special_char()
						}"
					>
						<img
							alt="check"
							ngSrc="assets/img/checked.svg"
							class="modal__form--validations__requirement--circle__checked-icn"
							width="10"
							height="12"
							*ngIf="password_check_active() && has_special_char()"
						/>
						<img
							alt="check"
							ngSrc="assets/img/not_contains.svg"
							class="modal__form--validations__requirement--circle__not-contains-icn"
							width="10"
							height="16"
							*ngIf="password_check_active() && !has_special_char()"
						/>
					</div>
					<p
						class="modal__form--validations__requirement--req-txt"
						[ngClass]="{
							not_contains_txt: password_check_active() && !has_special_char()
						}"
					>
						At least 1 symbol or special character.
					</p>
				</div>

				<!-- Passwords match -->
				<div class="modal__form--validations__requirement">
					<div
						class="modal__form--validations__requirement--circle"
						[ngClass]="{
							'modal__form--validations__requirement--circle__not-contains':
								password_check_active() && !passwords_match(),
							'modal__form--validations__requirement--circle__checked':
								password_check_active() && passwords_match()
						}"
					>
						<img
							alt="check"
							ngSrc="assets/img/checked.svg"
							class="modal__form--validations__requirement--circle__checked-icn"
							width="10"
							height="12"
							*ngIf="password_check_active() && passwords_match()"
						/>
						<img
							alt="check"
							ngSrc="assets/img/not_contains.svg"
							class="modal__form--validations__requirement--circle__not-contains-icn"
							width="10"
							height="16"
							*ngIf="password_check_active() && !passwords_match()"
						/>
					</div>
					<p
						class="modal__form--validations__requirement--req-txt"
						[ngClass]="{
							'modal__form--validations__requirement--not-contains_txt':
								password_check_active() && !passwords_match()
						}"
					>
						Passwords must match.
					</p>
				</div>
			</div>
		</form>
	</div>
</sh-simple-modal>
